.createTaskForm {
  background-color: #fff !important;
  display: flex;
  flex-direction: column !important;
  box-shadow: 0 10px 10px -6px #000;
  justify-content: center;
  align-items: center;
  width: 60% !important;
  padding: 20px;
  margin-top:50px
}

:host {
  background-color: #e9f0f3 !important;
  display: flex;
  flex-direction: column  ;
  justify-content: center;
  align-items: center;  
}

.createTaskForm p {
    margin-top:-15px
}


.cards {
  border: 1px solid red;
  margin-top:50px;
  display:flex;
  flex-wrap: wrap;
  width: 90% !important;
  justify-content: space-around;
}