<form
  class="createTaskForm"
  [formGroup]="taskForm"
  (submit)="createTask($event)"
>
  <label for="title" class="text-center fw-bold mb-2"> Title</label>
  <input
    formControlName="title"
    placeholder="Enter title..."
    class="form-control shadow-none mb-3 w-100 fw-bold"
    id="title"
  />
  <p
    class="text-center fw-bold text-danger"
    *ngIf="
      taskForm.controls['title'].hasError('required') &&
      taskForm.controls['title'].touched
    "
  >
    Title is required.
  </p>
  <label for="description" class="text-center fw-bold mb-2">Description</label>
  <input
    formControlName="description"
    placeholder="Enter description..."
    class="form-control shadow-none mb-3 w-100 fw-bold"
    id="description"
  />
  <p
    class="text-center fw-bold text-danger"
    *ngIf="
      taskForm.controls['description'].hasError('required') &&
      taskForm.controls['description'].touched
    "
  >
    Description is required.
  </p>
  <button class="btn btn-primary w-100 text-center fw-bold">Create task</button>
</form>

<div class="cards">
  <div
    *ngFor="let task of taskService.tasks"
    class="card mt-3 d-flex flex-wrap m-1 h-100"
    [ngClass]="{ uncompleted: !task.isCompleted, completed: task.isCompleted }"
  >
    <div class="card-body d-flex flex-column justify-content-between p-2">
      <div class="d-flex justify-content-between mt-2">
        <h5 class="card-title fw-bold me-2 fs-4 text-center">
          {{ task.title | capitalize }}
        </h5>
        <div class="d-flex justify-content-center align-items-center me-2">
          <button (click)="deleteTask(task.id)" class="btn btn-danger me-1">
            <i class="fa-solid fa-trash-can"></i>
          </button>
          <button
            (click)="openDialog(task.id, task.title, task.description)"
            class="btn btn-warning me-1"
          >
            <i class="fa-solid fa-pen"></i>
          </button>
          <button
            (click)="toggleStatus(task)"
            *ngIf="!task.isCompleted"
            class="btn btn-success"
          >
            <i class="fa-solid fa-circle-check"></i>
          </button>
          <button
            (click)="toggleStatus(task)"
            *ngIf="task.isCompleted"
            class="btn btn-danger"
          >
            <i class="fa-solid fa-ban"></i>
          </button>
        </div>
      </div>
      <p class="card-text fs-5 mt-2 text-center text-break">
        {{ task.description }}
      </p>
    </div>
  </div>
</div>
