<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid"
          alt="Sample image"
        />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="createdForm" (submit)="login($event)">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input
              type="email"
              id="form3Example3"
              class="form-control form-control-lg"
              placeholder="Enter a valid email address"
              formControlName="email"
            />
            <p
              class="text-danger mt-2"
              *ngIf="
                createdForm.controls['email'].hasError('required') &&
                createdForm.controls['email'].touched
              "
            >
              Email is required.
            </p>

            <p
              class="text-danger mt-2"
              *ngIf="
                createdForm.controls['email'].hasError('email') &&
                createdForm.controls['email'].touched
              "
            >
              Please insert a valid email.
            </p>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input
              type="password"
              id="form3Example4"
              class="form-control form-control-lg"
              placeholder="Enter password"
              formControlName="password"
            />
            <p
              class="text-danger mt-2"
              *ngIf="
                createdForm.controls['password'].hasError('required') &&
                createdForm.controls['password'].touched
              "
            >
              Please insert your password.
            </p>
            <p
              class="text-danger mt-2"
              *ngIf="
                createdForm.controls['password'].hasError('minlength') &&
                createdForm.controls['password'].touched
              "
            >
              Password must be at least 5 characters long.
            </p>
          </div>
          <div class="text-center text-lg-start mt-1 pt-2">
            <button
              type="submit"
              class="btn btn-primary btn-lg w-100"
              style="padding-left: 2.5rem; padding-right: 2.5rem"
            >
              Login
            </button>
            <p class="small fw-bold mt-2 pt-1 mb-0">
              Don't have an account?
              <a href="#!" class="link-danger">Register</a>
            </p>
          </div>
          <p
            class="text-danger text-center mt-2 fw-bold"
            *ngIf="responseErrors"
          >
            {{ responseErrors }}
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
